<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Rock Paper Scissors</title>

		<style>
			[v-cloak] {
				display: none
			}

			#win {
				color: green;
			}

			#lose {
				color: red;
			}

			#tie {
				color: blue;
			}

			#error {
				color: red;
			}
		</style>
	</head>

	<body>
		<div id="app" v-cloak>
			<h1>Rock Paper Scissors</h1>
			<br>
			Choose your move:
			<br>
			<input type='radio' id='Rock' value='Rock' v-model='move'>
			<label for='easy'>Rock</label>
			<br>
			<input type='radio' id='Paper' value='Paper' v-model='move'>
			<label for='easy'>Paper</label>
			<br>
			<input type='radio' id='Scissors' value='Scissors' v-model='move'>
			<label for='easy'>Scissors</label>
			<br>
			<button v-on:click='submitMove'>Choose</button>
			<div v-show='moved'>
				Your move: {{ userMove }}
				<br>
				Computer's move: {{ computerMove }}
				<br>
				<span v-show='winner == "User"' id='win'>You won!</span>
				<span v-show='winner == "Computer"' id='lose'>You lost.</span>
				<span v-show='winner == "Tie"' id='tie'>It was a tie.</span>
			</div>
			<br>
			<span v-show='message' id='error'>{{ message }}</span>
		</div>
		<!-- development version of vue.js -->
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

		<script src="script.js"></script>
	</body>
</html>
